---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmptyState from '../components/EmptyState.astro'
---

<DefaultLayout title="Contact">
  <section>
    <h1>Contact</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Contact overview</h2>
    </div>
  </section>
</DefaultLayout>
